<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card custom-margin-top">
                    <div class="card-header">
                        <h4>Are you sure?</h4>
                    </div>
                    <div class="card-body">
                        <p>A ticket with the title: <a :ticketid="ticketData.id" href="#" @click="show">{{ticketData.title}}</a> already exists</p>
                        <div>
                            <button @click="submit" class="btn btn-danger button-margin">Post</button>
                            <button @click="cancel" class="btn btn-primary button-margin">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<script>
    export default{
        name:"confirmation",
        //properties die vanuit PageLoader.vue komen
        props:["ticketData","cancel","submit","firstSubmit","title","content","show","ticketId"],
    }
</script>
