<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="custom-margin-top card">
                    <div class="card-header">
                        <h4>An error occured</h4>
                    </div>
                    <div class="card-body">
                        <p>{{error}}</p>
                        <button @click="cancel" class="btn btn-secondary">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name:"notification",
        //properties die via PageLoader.vue worden doorgegeven
        props:["error","cancel"],
    }
</script>
