<template>
    <div id="app">
        <div v-if="component === 'tickets'" class="container">
            <div class="row custom-margin-top">
                <div class="col-md-8 offset-md-2">
                    <button  class="btn btn-success button-margin" @click="loadTicketForm()">Create</button>
                </div>
            </div>
        </div>
        <component @change="handleError" v-bind:is="component" v-bind:submit="submit" v-bind:cancel="cancel" v-bind:show="show" v-bind:ticketData="ticketData" v-bind:firstSubmit="firstSubmit" v-bind:title="title" v-bind:content="content" v-bind:ticketId="ticketId" v-bind:key="componentKey" v-bind:rerender="rerender" v-bind:error="error"></component>
    </div>
</template>

<script>
    //imported components
    import tickets from './Tickets.vue';
    import ticketform from './TicketForm.vue';
    import showticket from './ShowTicket.vue';
    import confirmation from './Confirmation.vue';
    import notification from './Notification.vue';
    export default{
        components:{
          tickets,
            ticketform,
            showticket,
            confirmation,
            notification
        },
        data(){
            return {
                //stelt de originele index component in als de tickets pagina
                component:"tickets",
                //data dat via v-bind als properties in TicketForm.vue en Confirmation.vue wordt ingeladen
                submit:this.submitTicket,
                //data dat via v-bind als properties in TicketForm.vue,Notification.vue , ShowTicket.vue en Confirmation.vue wordt ingeladen
                cancel:this.loadTicketsPage,
                //data dat via v-bind als properties in Tickets.vue wordt ingeladen
                rerender:this.reRender,
                //data dat via v-bind als properties in Tickets.vue wordt ingeladen
                componentKey:0,
                //data dat via v-bind als properties in ShowTicker.vue wordt ingeladen
                show:this.showTicketPage,
                //data dat via v-bind als properties in ShowTicket.vue en Confirmation.vue wordt ingeladen
                ticketId:null,
                //data dat via v-bind als properties in Confirmation.vue wordt ingeladen
                ticketData:null,
                //data dat via v-bind als properties in TicketForm.vue en Confirmation.vue wordt ingeladen
                firstSubmit:true,
                //data dat via v-bind als properties in TicketForm.vue en Confirmation.vue wordt ingeladen
                title:null,
                //data dat via v-bind als properties in TicketForm.vue en Confirmation.vue wordt ingeladen
                content:null,
                //data dat via v-bind als properties in Notification.vue wordt ingeladen
                error:null,
            }
        },
        methods:{
            /*laadt de ticket form zie dit altijd als de first submit aangezien de values vanuit de inputs worden gehaald*/
            loadTicketForm(){
                this.firstSubmit = true;
                this.component = "ticketform";
            },
            loadTicketsPage(){
              this.component = "tickets";
            },
            showTicketPage(event){
                event.preventDefault();
                this.ticketId = event.target.getAttribute("ticketid");
                this.component="showticket";
            },
            showConfirmationPage(){
                this.component = "confirmation";
            },
            submitTicket(){
                if(this.firstSubmit == true){
                    this.title = document.getElementById("title").value;
                    this.content = document.getElementById("content").value;
                }
                axios.post("/tickets/submit_ticket",{
                    title:this.title,
                    content:this.content,
                    firstSubmit:this.firstSubmit,
                }).then(({data}) => {
                    //als de response geen object type is dan is er nog geen ticket met deze titel actief.
                    let duplicateFound = "object";
                    if(typeof(data) != duplicateFound){
                        this.firstSubmit = true;
                        this.component = "tickets";
                    //anders wel en laat dan het bevestiging scherm zien.
                    }else{
                        //stel firstsubmit in als 2 aangezien de ticket data nu vanuit de properties title en content worden gehaald ipv vanuit de form inputs. Dit is omdat de bevestiging component wordt ingeladen.
                        this.firstSubmit = 2;
                        this.ticketData = data;
                        this.showConfirmationPage();
                    }
                }).catch( error => {
                    this.error = error.response.data.message;
                    this.component = "notification";
                });
            },
            //update de componentKey zodat de vue object opnieuw wordt gerenderd
            reRender(){
                this.componentKey += 1;
            },
            //method die wacht voor een change emit op de dynamische component element en opent dan de notification component met de error die in de parent wordt emit. Kijk in Tickets.vue in de CloseTicket method voor een voorbeeld.
            handleError(errorMessage){
                this.error = errorMessage;
                this.component = "notification";
            },


        }
    }
</script>

<style>
    .button-margin{
        margin-top:25px;
        margin-bottom:25px;
    }

    .custom-margin-top{
        margin-top:150px;
    }
</style>
