<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card custom-margin-top">
                    <div class="card-body">
                        <div id="contentWrapper"></div>
                        <button @click="cancel" class="btn btn-primary button-margin">Return to overview</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default{
        name:"showticket",
        //properties die van PageLoader.vue komen
        props:["cancel","ticketId"],
        mounted(){
            axios.get("/tickets/show/" + this.ticketId).then(({data}) => {
                //bij een succesvolle request stel de contentWrapper content in als de blade template die is binnen gekomen
                document.getElementById("contentWrapper").innerHTML = data;
            }).catch(error => {
                //emit de change event naar de PageLoader.vue met de errorMessage als meegestuurde data
                let errorMessage = error.response.data.message;
                this.$emit("change",errorMessage);
            });
        }

    }
</script>
