<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4>Tickets</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>
                                            Ticket
                                        </td>
                                        <td>
                                            Actions
                                        </td>
                                    </tr>
                                </thead>
                                <tbody v-if="tickets && tickets.data.length > 0">
                                    <tr v-for="(ticket) in tickets.data" :key="ticket.id">
                                        <td><a v-bind:ticketid="ticket.id" href="#" @click="show">{{ticket.title}}</a></td>
                                        <td><button @click="closeTicket" :ticketid="ticket.id" class="closeTicketButton btn btn-success">Close Ticket</button></td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td>No tickets available</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-if="nextPage !== null || previousPage !== null">
                                <button @click="pageDown" class="btn btn-primary" :disabled="disabledLeftButton()"> < </button>
                                <button @click="pageUp" class="btn btn-primary" :disabled="disabledRightButton()"> > </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    export default{
        name:"tickets",
        //props die vanuit PageLoader worden ingeladen
        props:["rerender","componentKey","show","closeticket"],
        data(){
            return{
                tickets:{
                    type:Object,
                    default:null
                },
                previousPage:null,
                nextPage:null,
                page:1,
                numberOfPages:1,
            }
        },
        mounted(){
            this.paginator()
        },
        methods:{
            //method die de pagina veranderd zonder dat de pagina echt hoeft te herladen
            async paginator(page=1){
                page = this.handlePageRange(page);
                await axios.get(`/tickets/show?page=` + page).then(({data}) => {
                    this.numberOfPages = data.last_page;
                    this.nextPage = data.next_page_url;
                    this.previousPage = data.prev_page_url;
                    this.tickets = data;
                }).catch(error => {
                    //emit de change event naar de PageLoader.vue met de errorMessage als meegestuurde data
                    let errorMessage = error.response.data.message;
                    this.$emit("change",errorMessage);
                });
            },
            //method die de pagina een pagina omhoog instelt
            pageUp(){
                this.page += 1;
                this.paginator(this.page);
            },
            //method die de pagina een pagina omlaag instelt
            pageDown(){
                this.page -= 1;
                this.paginator(this.page);
            },
            /*Kijkt of de pagina uit range gaat, zoja stel dan de pagina in als de eerste of laatste pagina.*/
            handlePageRange(page){
                if(page < 1){
                    this.page = 1;
                    page = 1;
                }
                if(page > this.numberOfPages){
                    this.page = this.numberOfPages;
                    page = this.numberOfPages;
                }
                return page;
            },
            //als de pagina de eerste pagina is disable dan de page down knop
            disabledLeftButton(){
                if(this.page <= 1){
                    return true;
                }else{
                    return false;
                }
            },
            //als de pagina de laatste pagina is disable dan de page up knop
            disabledRightButton(){
                if(this.page >= this.numberOfPages){
                    return true;
                }else{
                    return false;
                }
            },
            //@takes event en sluit de ticket.
            closeTicket(event){
                let ticketId = event.target.getAttribute("ticketid");
                axios.post("/tickets/update_ticket",{id:ticketId}).then(({data}) => {
                    //re render de pagina zodat de lijst zonder de gesloten ticket zichtbaar is.
                    this.rerender();
                }).catch(error => {
                    //emit de change event naar de PageLoader.vue met de errorMessage als meegestuurde data
                     let errorMessage = error.response.data.message;
                     this.$emit("change",errorMessage);
                });
            }
        }

    }
</script>
