<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card custom-margin-top">
                    <div class="card-header">
                        <h4>Create a new ticket</h4>
                    </div>
                    <div class="card-body">
                        <div id="formContainer"></div>
                        <button class="btn btn-success button-margin" @click="submit">Submit</button>
                        <button class="btn btn-danger button-margin" @click="cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<script>

    export default{
        name:"ticketform",
        created() {
            axios.get("/tickets/create_ticket").then(({data}) => {
                //voeg de html toe binnen de form container, dit is de form
                document.getElementById("formContainer").innerHTML = data;
            }).catch(error => {
                //emit de change event naar de PageLoader.vue met de errorMessage als meegestuurde data
                let errorMessage = error.response.data.message;
                this.$emit("change",errorMessage);
            });
        },
        /*neemt de methods submitTicket en loadTicketsPage vanuit PageLoader.vue over als properties*/
        props:["submit","cancel","firstSubmit","title","content"],
    }
</script>
